.paper_comments {
  padding-bottom: 80px;
}

#commentform {
  margin: 0 auto;
}

#commentform p {
  line-height: normal;
  margin: 0;
}

form.comment-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  width: 940px;
  padding: 30px 30px;
  background-color: #EFEFEF;
  border: solid #b4b4b4 1px;
}

.comment-form-author,
.comment-form-email {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(33.33333% - 0px);
  padding-bottom: 20px;
}

.comment-form-author input,
.comment-form-email input {
  border-radius: 10px;
  width: 260px;
  padding-left: 15px;
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  background-color: white;
}

.comment-form-comment {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(100% - 0px);
  padding-bottom: 20px;
}

.comment-form-comment textarea {
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  background-color: white;
  width: 876px;
  height: 120px;
}

.form-submit {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(25% - 0px);
}

.form-submit input {
  border: #F25E99 solid 1px;
  border-radius: 25px;
  padding: 11px 50px;
  text-align: center;
  cursor: pointer;
  background-color: #F25E99;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.form-submit input:hover {
  background-color: #ee2f7b;
  border: #ee2f7b solid 1px;
}

.comments__title {
  padding-bottom: 12px;
  border-bottom: solid #F25E99 2px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}

.comments__name {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(50% - 0px);
  font-size: 1.875rem;
  font-weight: 400;
}

.comments__count {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(50% - 0px);
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  padding-top: 9px;
}

.comment__list {
  list-style: none;
  margin: 0;
  padding-bottom: 40px;
}

.comment__list .children {
  list-style: none;
  margin-left: 105px;
}

.comment__list .comment-body {
  margin-bottom: 40px;
  position: relative;
  padding: 25px 25px 25px 150px;
  background-color: #efefef;
}

.comment__list .comment-body .comment-content {
  padding-bottom: 32px;
}

.comment__list .comment-body .reply a {
  border: #F25E99 solid 1px;
  border-radius: 25px;
  padding: 11px 50px;
  text-align: center;
  cursor: pointer;
  background-color: #F25E99;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.comment__list .comment-body .reply a:hover {
  background-color: #ee2f7b;
  border: #ee2f7b solid 1px;
}

.comment__list .comment-body .comment-meta {
  display: flex;
  flex-direction: row;
  padding-bottom: 22px;
}

.comment__list .comment-body .comment-meta .comment-metadata {
  margin-left: 20px;
}

.comment__list .comment-body .comment-meta .comment-metadata a {
  color: black;
  transition-delay: .3s;
}

.comment__list .comment-body .comment-meta .comment-metadata a:hover {
  color: #F25E99;
}

.comment__list .comment-body .comment-meta .avatar {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 45px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  form.comment-form {
    width: 100%;
  }

  .comment-form-comment textarea {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .comment-form-author,
  .comment-form-email {
    width: calc(50% - 0px);
  }

  .comment-form-comment {
    width: calc(100% - 0px);
  }

  .form-submit {
    width: calc(50% - 0px);
  }

  .comments__name {
    width: calc(50% - 0px);
  }

  .comments__count {
    width: calc(50% - 0px);
  }
}

@media only screen and (max-width: 767px) {
  .comments__count {
    text-align: left;
  }

  .comment__list {
    padding-bottom: 20px;
  }

  .comment__list .comment-body {
    padding-left: 25px;
  }

  .comment__list .comment-body .comment-meta {
    flex-direction: column;
    text-align: center;
  }

  .comment__list .comment-body .comment-meta .avatar {
    position: static;
    margin: 0 auto 10px;
  }

  .comment__list .comment-body .comment-meta .comment-author {
    display: flex;
    flex-direction: column;
  }

  .comment__list .comment-body .comment-meta .comment-author .says {
    display: none;
  }

  .comment__list .children {
    margin-left: 40px;
  }

  form.comment-form {
    width: 100%;
  }

  .comment-form-comment textarea {
    width: 100%;
  }

  .comment-form-author input,
  .comment-form-email input {
    width: 100%;
  }

  .paper_comments {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 560px) {
  .comment-form-author,
  .comment-form-email {
    width: calc(100% - 0px);
  }

  .comment-form-comment {
    width: calc(100% - 0px);
  }

  .form-submit {
    width: calc(100% - 0px);
  }

  .comments__name {
    width: calc(100% - 0px);
  }

  .comments__count {
    width: calc(100% - 0px);
  }
}