@import "../base/_vars";
@import "../base/_smart-grid";

.paper_comments {
  padding-bottom: 80px;
}

#commentform {
  margin: 0 auto 25px auto;
  p {
    line-height: normal;
    margin: 0;
  }
}

#comments {
  padding-top: 20px;
}

form.comment-form {
  @include row-flex();
  width: 940px;
  padding: 30px 30px;
  background-color: #EFEFEF;
  border: solid #b4b4b4 1px;
}

.comment-form-author, .comment-form-email {
  @include col();
  @include size(4);
  @include size-md(6);
  @include size-xs(12);
  padding-bottom: 20px;
  input {
    border-radius: 10px;
    width: 260px;
    padding-left: 15px;
    font-size: 18px;
    color: #000000;
    font-weight: 300;
    background-color: white;
    border: 1px solid #a9a9a9;
    height: 35px;
  }
}

.comment-form-comment {
  @include col();
  @include size(12);
  @include size-md(12);
  @include size-xs(12);
  padding-bottom: 20px;
  textarea {
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 18px;
    color: #000000;
    font-weight: 300;
    background-color: white;
    width: 876px;
    height: 120px;
    border: 1px solid #a9a9a9;
  }
}

.form-submit {
  @include col();
  @include size(3);
  @include size-md(6);
  @include size-xs(12);
  padding-bottom: 0;
  input {
    border: $color-main solid 1px;
    border-radius: 25px;
    padding: 11px 50px;
    text-align: center;
    cursor: pointer;
    background-color: $color-main;
    color: white;
    font-size: 18px;
    font-weight: 400;
    &:hover {
      background-color: $color-two;
      border: $color-two solid 1px;
    }
  }
}

.comments__title {
  padding-bottom: 12px;
  border-bottom: solid $color-main 2px;
  margin-bottom: 40px;
  @include row-flex();
  align-items: center;
}

.comments__name {
  @include col();
  @include size(6);
  @include size-md(6);
  @include size-xs(12);
  font-size: 1.875rem;
  font-weight: 400;
}

.comments__count {
  @include col();
  @include size(6);
  @include size-md(6);
  @include size-xs(12);
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  padding-top: 9px;
}

.comment__list {
  list-style: none;
  margin: 0;
  //padding-bottom: 40px;
  .comment {
    list-style-image: none;
    line-height: normal;
  }
  p {
    line-height: normal;
    margin: 0;
    padding-bottom: 20px;
    font-size: 16px;
  }
  br {
    display: block;
    content: "";
    margin-bottom: 10px;
  }
  .avatar {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 45px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
  .fn {
    font-weight: bolder;
    font-style: normal;
  }
  .children {
    list-style: none;
    margin-left: 105px;
  }
  .comment-reply-title {
    padding-bottom: 20px;
    text-align: center;
  }
  .comment-body {
    margin-bottom: 20px;
    position: relative;
    padding: 25px 25px 25px 150px;
    background-color: #efefef;
    .comment-content {
      padding-bottom: 32px;
    }
    .reply a {
      border: $color-main solid 1px;
      border-radius: 25px;
      padding: 11px 50px;
      text-align: center;
      cursor: pointer;
      background-color: $color-main;
      color: white;
      font-size: 18px;
      font-weight: 400;
      display: block;
      width: 20%;
      &:hover {
        background-color: $color-two;
        border: $color-two solid 1px;
        text-decoration: none;
      }
    }
    .comment-meta {
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;
      font-size: 16px;
      .comment-metadata {
        margin-left: 20px;
        a {
          color: black;
          transition-delay: .3s;
          &:hover {
            color: $color-main;
          }
        }
      }
    }
    .comment-author {
      float: left;
      margin-right: 7px;
      font-size: 16px;
    }
  }
}

p.logged-in-as {
  padding-bottom: 20px;
}

#commentform > p.form-submit {
  padding-bottom: 0;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  form.comment-form {
    width: 100%;
  }
  .comment-form-comment textarea {
    width: 100%;
  }
  .comment__list .comment-body .reply a {
    width: 50%;
  }
  #commentform {
    flex-direction: column;
    padding: 20px 20px;
    margin-bottom: 0;
    .comment-form-author, .comment-form-email, .comment-form-comment {
      width: 100%;
    }
    p.form-submit {
      width: 100%;
    }
  }
  .form-submit input {
    width: 100%;
  }
  .comment-form-author input, .comment-form-email input {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .comments__count {
    text-align: left;
  }
  .comment__list {
    padding-bottom: 20px;
    padding-left: 0;
    .avatar {
      position: static;
      margin: 0 auto 10px;
    }
    .fn {
      text-align: center;
    }
    .comment-body {
      padding-left: 25px;
      .comment-meta {
        flex-direction: column;
        text-align: center;
      }
      .comment-author {
        display: flex;
        flex-direction: column;
        float: none;
        .says {
          display: none;
        }
      }
      .reply a {
        width: 100%;
      }
    }
    .children {
      margin-left: 0;
    }
  }
  form.comment-form {
    width: 100%;
  }
  .comment-form-comment textarea {
    width: 100%;
  }
  .comment-form-author input, .comment-form-email input {
    width: 100%;
  }
  .paper_comments {
    padding-bottom: 40px;
  }
  .blog_page .banner h1 {
    font-size: 20px;
  }
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
  #comments {
    padding-top: 0;
  }
  .comments__title {
    margin-bottom: 20px;
  }
  #commentform {
    flex-direction: column;
    padding: 20px 20px;
    margin-bottom: 0;
    .comment-form-author, .comment-form-email, .comment-form-comment {
      width: 100%;
    }
  }
  .form-submit input {
    width: 100%;
  }
}
